*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 30px;
}

.circle{
    display: flex;
    height: 150px;
    width: 150px;
    justify-content: center;
    align-items: center;
    background-color: blue;
    border-radius: 50%;
    transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 2s ;
}

.hover{
    transform: scale(2);
}